<!-- your html code here 
<p>Hello, I'm contact.html</p>-->

<div class="container2 mt-4 mb-2">
    <h1> Contact </h1> 
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Dignissimos impedit eligendi cumque voluptatibus illo, maxime 
        sapiente voluptas architecto natus ea, distinctio vero! 
        Assumenda, neque dolorum aut repudiandae et quia magni!</p>
     
        <form>
            <div class="row mb-3">
              
              <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea mb-3">Please enter your message here...</label>
              </div>

            <button type="submit" class="btn btn-primary mt-4 mb-4">submit</button>
          </form>    

  </div>