<!-- your html code here -->
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="ms-5">
                <div class="title d-flex">
                    <h3 class="me-1">This First Heading</h3>
                    <h3 class="text-secondary">Will Catch your eye</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic accusamus, ratione, aspernatur perferendis 
                dolor facere laboriosam debitis iusto numquam animi maiores error nam? Eum, 
                porro at sint cupiditate facilis sequi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic impedit 
                odit voluptatibus, reiciendis sit ex voluptatum praesentium, 
                minus consequatur temporibus placeat repudiandae ut aliquid enim animi, expedita similique incidunt sunt.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="https://media.istockphoto.com/id/1178972812/es/vector/retrato-de-una-pelirroja-avatar-de-una-chica-estudiante-de-la-universidad.jpg?s=612x612&w=0&k=20&c=RKntqFe_KYbfnYnsslLZVZU2ZlhXKWqk5o-nLkKizeE=" class="img-fluid rounded-circle" style="width: 350px;">
        </div>
    </div>
</div>
    