<div class="container-fluid">
  <h1>Porfolio</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
    impedit eligendi cumque voluptatibus illo, maxime sapiente voluptas
    architecto natus ea, distinctio vero! Assumenda, neque dolorum aut
    repudiandae et quia magni!
  </p>

  <div class="row">
    <div class="col-4">
      <div class="col-4">
        <div class="card mb-3 rounded-5" style="width: 20rem">
          <img src="https://picsum.photos/100/100?grayscale" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Dignissimos impedit eligendi cumque voluptatibus illo, maxime
              sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
              neque dolorum aut repudiandae et quia magni!
            </p>
          </div>
        </div>
      </div>
    </div>
<!--project2-->
    <div class="col-4">
      <div class="col-4">
        <div class="card" style="width: 20rem">
          <img src="https://picsum.photos/100/100?grayscale" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Dignissimos impedit eligendi cumque voluptatibus illo, maxime
              sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
              neque dolorum aut repudiandae et quia magni!
            </p>
          </div>
        </div>
      </div>
    </div>
<!--project3-->
    <div class="col-4">
      <div class="col-4">
        <div class="card" style="width: 20rem">
          <img src="https://picsum.photos/100/100?grayscale" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Project Name</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Dignissimos impedit eligendi cumque voluptatibus illo, maxime
              sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
              neque dolorum aut repudiandae et quia magni!
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

