
<div class="mb-auto border-top border-1 border-black  my-5 py-5 container-fluid .bg-light justify-content-center gap-4 flex-wrap">
  <h1 class="position-relative m-3 mb-auto pb-5">Porfolio</h1>
  <p class="mb-auto pb-5">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos
    impedit eligendi cumque voluptatibus illo, maxime sapiente voluptas
    architecto natus ea, distinctio vero! Assumenda, neque dolorum aut
    repudiandae et quia magni!
  </p>

  <div class="d-flex flex-row justify-content-center gap-4 flex-wrap ">
    <div class="">
      <div class="card mb-3 rounded-5" style="width: 20rem">
        <img
          src="/website/assets/img/big-project-image.png"
          class="card-img-top"
          alt="..."  />
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dignissimos impedit eligendi cumque voluptatibus illo, maxime
            sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
            neque dolorum aut repudiandae et quia magni!
          </p>
        </div>
      </div>
    </div>   <div class="">
      <div class="card mb-3 rounded-5" style="width: 20rem">
        <img
          src="/website/assets/img/big-project-image.png">
          
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dignissimos impedit eligendi cumque voluptatibus illo, maxime
            sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
            neque dolorum aut repudiandae et quia magni!
          </p>
        </div>
      </div>
    </div>  <div class="">
      <div class="card mb-3 rounded-5" style="width: 20rem">
        <img
          src="/website/assets/img/big-project-image.png"
          class="card-img-top"
          alt="..."  />
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Dignissimos impedit eligendi cumque voluptatibus illo, maxime
            sapiente voluptas architecto natus ea, distinctio vero! Assumenda,
            neque dolorum aut repudiandae et quia magni!
          </p>
        </div>
      </div>
    </div>
  </div>
